<div class="container">
  <div *ngIf="movie, trailer">
    <div class="row">
      <div class="col-md-4">
        <img class="img-responsive img-rounded poster" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
      </div>
      <div class="col-md-5">
        <h1>{{movie.original_title}}</h1>
        <b>Release Date:</b> {{movie.release_date}} <br>
        <h4>Plot:</h4> {{movie.overview}}<br><br>
        <!--<a href="https://www.youtube.com/watch?v={{trailer.key}}">Watch the trailer</a> -->
        <p>
        <button (click)="gotoMovies()">Back</button>
      </p>
      </div>
      <div class="col-md-3"></div>
  </div>
</div>